#d_ncnncn{
	width:100%;
	height:50px;
	border-top:5px solid #13C600;
	text-align:center;
	margin-top:5px;
}

#d_uucnns{
	width:1000px;
	height:50px;
	border:0px solid #ccc;}
#d_list_lic8{
	width:200px;
	height:50px;
	border:0px solid red;
	float:left;
	position:relative;
	bottom:5px;
	text-align:center;
	background-color:#FAFAFA;
	border-top:5px solid #13C600;}
#d_list_lic9{
	width:200px;
	height:50px;
	border:0px solid red;
	float:left;
	position:relative;
	bottom:5px;
	text-align:center;
	border-top:5px solid #13C600;}
.d_utnkcn1{width:31px;
	height:26px;
	border:0px solid #F00;
	background-image:url("../images/index.png");
	background-repeat:no-repeat;
	background-position:0px -36px;
	overflow:hidden;
	}
.d_utnkcn2{width:25px;
	height:30px;
	border:0px solid #F00;
	background-image:url("../images/index.png");
	background-repeat:no-repeat;
	background-position:0px -118px;
	overflow:hidden;
	}
.d_utnkcn3{width:30px;
	height:30px;
	border:0px solid #F00;
	background-image:url("../images/index.png");
	background-repeat:no-repeat;
	background-position:0px -201px;
	overflow:hidden;
	}
.d_utnkcn4{width:30px;
	height:30px;
	border:0px solid #F00;
	background-image:url("../images/index.png");
	background-repeat:no-repeat;
	background-position:0px -286px;
	overflow:hidden;
	}	
.d_utnkcn5{width:35px;
	height:30px;
	border:0px solid #F00;
	background-image:url("../images/index.png");
	background-repeat:no-repeat;
	background-position:0px -453px;
	overflow:hidden;
	}				
#d_list_lic8:hover{
	border-top:5px solid #F16700;
	background-color:#ECECEC;}
#d_list_lic9:hover{
	border-top:5px solid #F16700;
	background-color:#FFF;}	
.d_ncxx45{
	color:#FFF;
	margin-top:3px;}
#d_ncxx45:hover{

	}	
.fknlcc{
	color:#690;}
.gessc_ss{
	color:#11AD00;
	font-weight:bold;
	}
#d_tbals_ss{
	color:#F90;
	margin-top:3px;}
	
	
.d_fff1{
	width:31px;
	height:26px;
	border:0px solid #F00;
	background-image:url("../images/index.png");
	background-repeat:no-repeat;
	background-position:0px 0px;
	overflow:hidden;
	}
.d_fff2{
	width:25px;
	height:30px;
	border:0px solid #F00;
	background-image:url("../images/index.png");
	background-repeat:no-repeat;
	background-position:0px -75px;
	overflow:hidden;
	}
.d_fff3{
	width:30px;
	height:30px;
	border:0px solid #F00;
	background-image:url("../images/index.png");
	background-repeat:no-repeat;
	background-position:0px -161px;
	overflow:hidden;
	}
.d_fff4{
	width:30px;
	height:30px;
	border:0px solid #F00;
	background-image:url("../images/index.png");
	background-repeat:no-repeat;
	background-position:0px -245px;
	overflow:hidden;
	}				
.d_fff5{
	width:35px;
	height:30px;
	border:0px solid #F00;
	background-image:url("../images/index.png");
	background-repeat:no-repeat;
	background-position:0px -410px;
	overflow:hidden;
	}
.cnnspp{
	color:#0FA000;
	}
.cnnspp1{
	color:#F16700;
	}	